@charset "UTF-8";

@media screen and (max-width: 841px) {

    .texto-foodpeek{
        text-align: center;
        margin: auto;
        max-width: 90%;
        margin-top: 10px;
        margin-bottom: 20px;
        padding-bottom: 20px;
    }

    .hamburguer img{
        width: auto;
    }

}